@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-blue-500 hover:text-blue-600;
  }
}

@layer components {
  .doc-title {
    @apply pt-20 mb-5 text-2xl font-bold;
  }
  .doc-img {
    @apply my-6 rounded-lg;
  }
  .doc-code {
    @apply rounded-md bg-slate-300 px-2 py-0.5;
  }
  .doc-list {
    @apply list-disc;
  }
  .doc-list li {
    @apply mb-2;
  }
}

html {
  scroll-behavior: smooth;
}

.wave-divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-divider-top svg {
  position: relative;
  display: block;
  width: calc(200% + 1.3px);
  height: 150px;
}

.wave-divider-top .shape-fill {
  fill: theme("colors.gray.200");
}

.wave-divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-divider-bottom svg {
    position: relative;
    display: block;
    width: calc(208% + 1.3px);
    height: 76px;
    transform: rotateY(180deg);
}

.wave-divider-bottom .shape-fill {
    fill: theme("colors.white");
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
